<%- include('../partials/header.ejs') %>
  </head>

  <body>
    <%- include('../partials/navbar.ejs') %>
      <%- include('../partials/menu.ejs') %>


        <main id="main" class="main">

          <div class="pagetitle">
            <h1>Nova Empresa</h1>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <div class="d-flex justify-content-end">
                <a href="/company" type="submit" class="btn btn-primary ">Voltar</a>
              </div><br>
              <form action="/company/new" method="post">
                <div class="row">
                  <div class="col-6">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" name="nome_empresa" placeholder="Nome da empresas" required>
                  </div>
                  <div class="col-6">
                    <label class="form-label">CNPJ</label>
                    <input type="number" class="form-control" name="cnpj" placeholder="CNPJ" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" name="email" placeholder="Email" required>
                  </div>
                  <div class="col-6">
                    <label class="form-label">Senha</label>
                    <input type="password" class="form-control" name="senha" placeholder="Senha" required>
                  </div>
                </div><br>


                <div class="text-left">
                  <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
              </form>

            </div>
          </div>

        </main>
        <%- include('../partials/footer.ejs') %>
  </body>

  </html>